<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="blue-grey darken-1">
  <div id="addList" class="modal">
    <div class="modal-content">
      <h4>Add a Todo List</h4>
      <form method="POST" action="" id="addListform">
        {{ listform.hidden_tag() }}
        <div class="form-group">
          {{ listform.name.label(class="form-control-label") }}
          {% if listform.name.errors %}
          {{ listform.name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in listform.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ listform.name(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ listform.description.label(class="form-control-label") }}
          {% if listform.description.errors %}
          {{ listform.description(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in listform.description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ listform.description(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ listform.submit(class="btn btn-outline-info" ) }}
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
  </div>

  <div class="navbar-fixed grey darken-1">
    <nav>
      <div class="nav-wrapper grey darken-1">
        <a class="brand-logo center">To-Do Board</a>
      </div>
    </nav>
  </div>

  <br> </br>
  <a class="waves-effect waves-light btn modal-trigger" id="addListButton" href="#addList">Add List</a>

  <div class="side-scroll" id="side-scroll">
    {% for list in lists %}
    <!-- List Modal -->
    <div id="List{{ list.id }}" class="modal">
      <div class="modal-content">
        <h4>{{ list.name }}</h4>
        <p> {{ list.description }}</p>
      </div>
      <form action="" id="deleteList" method="POST">
        <input type="hidden" id="listid"  name="listid" value="{{ list.id }}">
        <input type="submit" value="Delete List" id="deleteListButton" class="button btn waves-effect waves-light red">
      </form>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
    <!-- end of modal -->

    <div class="card-scroller" id="list{{ list.id }}">
      <div class="card-panel blue-grey lighten-1">

        <h3><a class="modal-trigger" href="#List{{ list.id }}">{{ list.name }}</a></h3>
        <a class="waves-effect waves-light btn modal-trigger" href="#addTaskModal{{ list.id }}">Add Task</a>

        <div id="addTaskModal{{ list.id }}" class="modal">
          <div class="modal-content">
            <div>Add a new todo item:
              <form id="addTask" action="" method="POST">
                {{ taskform.hidden_tag() }}
                <div class="form-group">
                  {{ taskform.name.label(class="form-control-label") }}
                  {% if taskform.name.errors %}
                  {{ taskform.name(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in taskform.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ taskform.name(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ taskform.description.label(class="form-control-label") }}
                  {% if taskform.description.errors %}
                  {{ taskform.description(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in taskform.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ taskform.description(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                {{ taskform.priority.label }}
                {{ taskform.priority }}
                <input type="hidden" id="listid"  name="listid" value= "{{ list.id }}">
                <div class="form-group">
                  <input class="btn btn-outline-info button2" id="sendTask" type="submit" value="Add task">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
            </div>
          </div>
        </div>

        <div class="card-panel grey lighten-1">
          <h5 id="ToComplete{{ list.id }}">To complete: {{ list.tasks.filter_by(complete=False).count() }}</h5>
          <ul id="ToCompleteList{{ list.id }}">
            {% for task in tasks %}
            <div id="taskModal{{ task.id }}" class="modal">
              <div class="modal-content">
                <!-- delete and complete buttons for class -->
                <h3> {{task.name}} </h3>
                Description:
                <p> {{task.description}} </p>
                <form action="" id="deleteTask" method="POST">
                  <input type="hidden" id="taskid"  name="taskid" value="{{ task.id }}">
                  <input type="submit" value="Delete" class="button btn waves-effect waves-light red">
                </form>
                  <form action="" id="completeTask" method="POST">
                    <input type="hidden" id="taskid"  name="taskid" value="{{ task.id }}">
                    <input type="submit" value="Complete" class="button btn waves-effect waves-light teal" >
                </form>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
              </div>
            </div>

            <!-- Displaying to complete tasks and deciding there color-->
            {% if task.complete == false and task.list_id == list.id %}

            {% if task.priority == 'high' %}
            <li id="task{{ task.id }}">
              <div class="card-panel red lighten-3">
                <span class="card-title"><a class= "modal-trigger" href="#taskModal{{ task.id }}">{{ task.name }}</a></span>
              </div>
            </li>
            {% elif task.priority == 'medium' %}
            <li id="task{{ task.id }}">
              <div class="card-panel yellow lighten-3">
                <span class="card-title"><a class= "modal-trigger"  href="#taskModal{{ task.id }}">{{ task.name }}</a></span>
              </div>
            </li>
            {% else %}
            <li id="task{{ task.id }}">
              <div class="card-panel grey lighten-3">
                <span class="card-title"><a class= "modal-trigger" href="#taskModal{{ task.id }}">{{ task.name }}</a></span>
              </div>
            </li>
            {% endif %}

            {% endif %}
            <!-- End -->

            {% endfor %}
          </ul>
        </div>

        <div class="card-panel grey lighten-1">
          <h5 id="Completed{{ list.id }}">Completed: {{ list.tasks.filter_by(complete=True).count() }}</h5>
          <ul id="CompletedList{{ list.id }}">
            {% for task in tasks %}
            {% if task.complete == true and task.list_id == list.id %}
            <li id="task{{ task.id }}">
              <div class="card-panel green lighten-3">
                <span class="card-title">
                  <form action="" id="deleteTask" method="POST">
                    {{ task.name }}
                    <input type="hidden" id="taskid"  name="taskid" value="{{ task.id }}">
                    <input type="submit"  value="Delete Task" class="button btn waves-effect waves-light red">
                  </form>
                </span>
              </div>
            </li>

            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  <script src="{{url_for('static', filename='js/list.js')}}"></script>
  <script src="{{url_for('static', filename='js/task.js')}}"></script>
</body>

</html>
